.logo {
    width:200px;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-element {
    padding:5px;
}

.form {
    background-color: white;
    width:800px;
    margin:auto;
    border-radius:6px;
    padding:10px;
}

.form-part {
    font-size: 20px;
    text-decoration: none;
    color: #59748A; 
    display: flex;
    align-items: center;
    padding:2%; 
}

.form-part.active {
    color: #5E17EB;
    border-radius: 6px;
}

.icon-bar {
    margin-right: 10px;
    flex-shrink: 0;  
    width: 20px;
}

.form-frame {
    background-color: white;
}

.form-part-container {
    display:flex;
    flex-direction:row;
    padding: 29px;
    font-family: 'Arial', sans-serif;
    justify-content: center;
}

.next-step-button-container {
    display:flex;
    justify-content: flex-end;
}

.next-step-button {
    width: max-content;
    color:white;
    background-color:#7a40f2;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.next-step-button-text {
    display:flex;
    align-items: center;
}

.next-step-button-icon {
    margin-left: 5px;
    width: 20px;
}