.setting-page{
  display: flex;
}
.settings-container {
  width: 100%;
  margin: 30px;
  text-align: left;
  font-size: 14px;
}
.settings-container > .header-page{
  width: 100%;
}
.setting-page > .settings-container {
display: flex;
flex-direction: column;
align-items: center;
}
.settings-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  flex-grow: 1;
}

.h-settings {
  margin:10px 0px 10px 30px ;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}
.input-container-button input[type="submit"] , .annuler-button{
  margin-right: 20px;
  /* Add space between buttons */
  background-color: #656ED3;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.input-container-button input[type="submit"]:hover , .annuler-button:hover {
  background-color: #6a45c5;
}

.input-container-button {
  margin-bottom: 20px;
  display: flex;
  margin-left: 25px;
  width: 100%;
  justify-content: center;
}

form .settings-container>li>label {
  flex: 1 0 120px;
  max-width: 140px;
  font-size: 18px;
  line-height: 25px;
  margin-right: 12px;
  margin-bottom: 0;
}
.settings-form{
  background-color: white;
  border-radius: 20px;
  min-width: 600px;
  width: 50%;
  padding: 1px;
}
.settings-form span{
font-size: 14px;
}

form .settings-container>li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:400px
}

.input-settings:focus {
  border: 1.5px solid #6a45c5;
}

.input-settings {
  max-width: max-content;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 25px;
  border-width: 2px;
  border-style: solid;
  background-color: #F2F8FD;
  border: 1px solid #656ED3;
  border-radius: 50px;
  outline: none;
}

.header-page-name-settings {
  color: #6E7191;
}

.header-page-settings {
  color: #6e71918e;
  font-size: 14px;
  margin: 0px;
  margin-left: 0px;
  margin-left: 20px;
}