.header-page{
color: #6e71918e;
font-size: 14px;
margin: 0px;
margin-left: 20px;
}
.header-page-name{
color: #6E7191;
}
.page-title{
font-size: 16px;
color: #6E7191;
font-weight: lighter;
margin-top: 40px;

}
.dashboard-page{
    display: flex;
}
.navbar {
    flex-shrink: 0;
   
  }
.dashboard-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    flex-grow: 1; 
}
.dashboard-stats{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.emission-history{
    font-size: 20px;
    font-weight: bold;
    color: #343C6A;
    margin-bottom: 6px;
    position: relative;
    left: 10px;
}
.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    margin-top: 0px;
    
}

.doughnut-container{
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    width: 60%;
    height: 350px;
}
.doughnut-title{
display: flex;
font-size: 18px;
font-weight:600;
color: #191635;
align-self: flex-start;
position: relative;
left: 50px;
top: 20px;
}
.dashboard-info{
    position: sticky;
    top: 0;
    height: 100vh; 
    z-index: 10;
    width: 42vh;
    background-color: white;
}