.info-card {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 190px; 
    background-color: white;
    height: 85px;
    margin-top: 20px;
  }
  
  .info-card-icon {
    align-self: flex-start;
    width: 50px; 
    height: auto;
    margin-right:9px ;
  }
  
  .info-card-content {
    text-align: center;
    align-self: flex-start;
    color: #6E7191;

  }
  
  .info-card-value {
    font-size: 18px; 
    font-weight: bold;
    text-align: left;
    margin: 0px;
  }
  .info-card-unit {
    font-size: 14px;
    color: #ABABAB;
    font-weight: lighter;
  }
  
  .info-card-label {
    font-size: 14px; 
    margin: 0;
    text-align: left;
    color: #64707D;
  }
  